"mg" ("mb") 
to measure once with a certain gate (bias) voltage. 
Returns Vout. 
Example: "mg, -1.2"; "mg, 2.3". 


"mgn" ("mbn") 
makes N measurements at a set Vg (Vb). 
Returns an average Vout. 
Example: "mgn, -1.2, 10, 1"; "mgn, 2.3, 100, 1": i.e., three numbers are expected after "mgn": Vg, N, and delay. _delay is in ms between consecutive measurements and is different from "dt" below. 

"Rmg" 
sets Vg and returns one measurement of the resistance R. 
Example: "Rmg, -1.2"; "Rmg, 2.3".


"Rmgn" 
sets Vg and returns the average resistance R. 
Example: "Rmgn, -1.2, 10, 1"; "Rmgn, 2.3, 5, 10". Three numbers are expected after "Rmgn": Vg, N, and delay. 

"s" 
to change the sample. 
Returns a confirmation string. 
Example: "s, 1" or "s, 2"

"Vg" ("Vb") 
to change the gate (bias) voltage, no measurement. 
Returns a confirmation string. 
Example: "Vg, -1.2"; "Vg, 2.3". 

"Vgm" ("Vbm") 
to change the gate (bias) voltage and measure Vout. 
A confirmation string is returned, ending with "Vout = x.xxx" 
Example: "Vg, -1.0"; "Vg, 1.3". The numerical value is limited to plus minus 2.5. 

"dt" 
to change the delay time in ms between setting a voltage and measurement of Vout. Returns a confirmation string. 
Example: "dt, 10"; "dt, 150".

"serR" to change the series resistance after changing the hardware switch. 
Returns a confirmation string. 
Example: "serR, 10101010"; "serR, 11010101", i.e., takes a binary representation of hardware-switches status, with "1" being on and "0" off. Must be 8 chars long.

"ACset" 
to setup AC measurements. 
Returns a confirmation string. 
Example: "ACset, 1.1, 110, 3, 55", i.e., four numbers are expected after command string: the biasV, the number of points in one period of the sinusoid (<200), the number of periods, and the delay in us between the consequitive AC measurements (~1/frequency).

"ACgn" 
to measure the AC response. 
Returns X[mV], Y[mV], the bias AC current [uA], and the frequency of measurements (four numbers in total). 
Example: "ACgn,0.57", i.e., one one number (Vg) is expected after the command. "ACset" must be run at least once before executing ACgn.
